/* Page Base Styling */

html {
    width: 100%;
    height: 100%;
}

html * {
    color: white;
    font-family: monospace;
    white-space: nowrap;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar { 
    display: none;
}

/* Global Element Styling */

h1 {
    margin: 0 0 15px 0;
    font-size: 3.2vw;
    text-decoration: underline;
}

h2 {
    margin: 0;
    font-size: 1.6vw;
}

li { 
    list-style-type: none;
}

input {
    background-color: #222;
    border: #666 solid 2px;
    color: #FFF;
    padding: 4px;
    margin-right: 5px;
    font-family: monospace;
}

input:hover {
    background-color: #666;
}

button {
    padding: 4px;
    background-color: #111;
    color: #FFF;
    border: #444 solid 2px;
    font-family: monospace;
}

select {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: #666 solid 2px;
    box-sizing: border-box;
    color: #FFF;
    background-color: #333;
}

/* General Styling */

.view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.song-list, .player, .session {
    padding: 15px;
    box-sizing: border-box;
}

.song-list {
    order: 0;
    flex: 4 0 0;
    display: flex;
    flex-direction: column;
}

.song-list > h1 {
    order: 0;
    flex: auto 0 0;
}

.song-list > div {
    order: 1;
    flex: 1 0 0;
    overflow-y: scroll;
}

.song-category > li {
    color: gray;
    cursor: pointer;
    font-size: 1rem;
}

.song-category:hover > li {
    color: white;
}

.song-category > li > span {
    color: darkred;
}

.song-category:hover > li > span {
    color: red;
}

.song-option {
    font-size: 1rem;
    transition-property: font-size;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    cursor: pointer;
    color: gray;
}

.song-option > span {
    color: green;
}

.song-option:hover {
    color: white;
    font-size: 1.5rem;
}

.song-option:hover > span {
    color: greenyellow;
}

.song-filter {
    margin-bottom: 5px;
}

.song-filter h2 {
    display: inline;
}

.player {
    order: 1;
    flex: 5 0 0;
    display: flex;
    flex-direction: column;
}

.player > h1 {
    order: 0;
    flex: auto 0 0;
}

.song-metadata {
    display: flex;
    order: 1;
    flex: auto 0 0;
}

.song-metadata > img {
    flex: 2 0 0;
}

.song-metadata > div {
    flex: 7 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.song-metadata h2 {
    margin-left: 20px;
}

.song-metadata span {
    color: darkgray;
}

.song-progress {
    order: 2;
    flex: auto 0 0;
    margin: 25px 0;
}

.controls { 
    width: 100%;
    vertical-align: bottom;
}

.controls p {
    display: inline-block;
    font-size: 1.05rem;
    margin: 0;
}

.right {
    float: right;
}

.play-button, .pause-button, .skip-button {
    color: gray;
}

.play-button:hover, .pause-button:hover, .skip-button:hover {
    color: white;
    cursor: pointer;
}

.skip-button > span {
    color: purple;
}

.skip-button:hover > span {
    color: magenta;
}

.pause-button > span {
    color: goldenrod;
}

.pause-button:hover > span {
    color: gold;
}

.play-button > span {
    color: darkgreen;
}

.play-button:hover > span {
    color: green;
}

.song-progress input {
    width: 100%;
}

.player > h2 {
    order: 3;
    flex: auto 0 0;
}

.song-queue {
    width: 100%;
    order: 4;
    flex: 1 0 0;
    font-size: 1.1rem;
    overflow-y: scroll;
}

.song-queue table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

.song-queue th {
    border-bottom: 1px solid white;
    font-size: 0.95rem;
}

.song-queue td {
    width: 100%;
    border-bottom: 1px solid #666;
    border-right: 1rem solid transparent;
    padding: 5px 0;
    font-size: 1vw;
    overflow: hidden;
}

.song-queue span:hover {
    text-decoration: line-through;
    cursor: pointer;
    color: #AAA;
}

.session {
    order: 2;
    flex: 3 0 0;
}

.session h1 {
    order: 0;
    flex: auto 0 0;
}

.session-indicator {
    order: 1;
    flex: auto 0 0;
}

.session-indicator h2 {
    margin-bottom: 10px;
}