body {
    background-color: black;
    font-family: monospace;
    color: white;
    margin-left: 18px;
}

a, a:link, a:visited, a:active, a:hover {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

a:hover { color: white; }

a > strong { color: darkgreen; }

a:hover > strong { color: greenyellow; }